{{ splunk_user }} soft nofile {{ splunk_ulimit_nofile }}
{{ splunk_user }} hard nofile {{ splunk_ulimit_nofile }}
{{ splunk_user }} soft nproc {{ splunk_ulimit_nproc }}
{{ splunk_user }} hard nproc {{ splunk_ulimit_nproc }}
